<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<link rel="icon" href="/smart-site/templates/pages/images/favicon.svg" type="image/svg+xml">
<title>{{ title | safe }}</title>
<link rel="stylesheet" href="/smart-site/templates/pages/css/pages.css" />
<link rel="stylesheet" href="/smart-site/templates/plugin/css/plugin.css" />
<link rel="stylesheet" href="/smart-site/lib/DAN/DAN.css" />
<script src="/smart-site/templates/plugin/js/plugin.js"></script>
<script>ss_ph='debbc62fb76349e3804507d99f9f6f81'</script>
{{ head | safe }}
</head>
<body>
{{ content | safe }}
</body>
</html>







